!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
make_exe.bat.bak

*.wbk
*.bak
~$*.docx
*.TMP
__pycache__/93-0000020.cpython-38.pyc
93-0000020 V1.4.0.zip
prior releases/
venv/Lib/site-packages/__pycache__/
